.list{
    color: #fff;
    width: 300px;
    background-color: #5f2a0b;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}
.list p{
    padding: 15px 20px;
    position: relative;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.list p input:focus{
    outline: none;
}

.list p span{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
}